extends layout
block scripts
	link(rel='stylesheet', href='/public/css/mediaInt.css')
	link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700', rel='stylesheet', type='text/css')
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
	script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js')
	script(type='text/javascript', src='../public/js/libs/underscore-min.js')
	script(type='text/javascript', src='../public/js/libs/backbone-min.js')
block contents
	header
		#header.centrify
			form.searchform.clear.left(method="post", action="/media", name="mediaInterface")
				if(typeof searchWord != 'undefined')
					searchValue = searchWord;
				else
					searchValue = 'search';
				input.searchfield(type="text",value=searchValue, name="searchValue", onfocus="if(this.value == 'search') { this.value = ''; }")
				input.searchbutton(type="submit", value="Go")
			//LOGO: img.left(src="/public/images/1pager/breakit.png")
			h1 BREAK
				span IT
	#sort.centrify
		form.sortForm(method="post", action="/media", name="mediaInterface")
			input.buttonBg(type="submit",name="sortPage",value="date")
			input.buttonBg(type="submit",name="sortPage",value="commented")
			input.buttonBg(type="submit",name="sortPage",value="viewed")
			input.buttonBg(type="submit",name="sortPage",value="ranking")
			
	#wrapper
		br
		br
		.container.centrify
			ul
				for b in breaks
					li.smallRadius.fullBorderGroove
						score = b.upvotes.length - b.downvotes.length
					//- another way to do it: if (typeof(user) !== 'undefined')
					if locals.user
						a(href="/p/" + b._id + "/"+user+"/"+admincode)
							img(src="/ios/picture/" + b._id, alt=b.headline)
						.icons
							p.information= "comments " + b.comments.length + " &bull; " + "score " + score
						hr
						p=b.headline
					else 
						a(href="/p/" + b._id + '?page=' + pageNumber)
							img(src="/ios/picture/" + b._id, alt=b.headline)
						.icons
							p.information= "comments " + b.comments.length + " &bull; " + "score " + score
						hr
						p=b.headline
			if locals.admincode
				form.pageForm.centrify(id="pages", method="post", action="/media/loginAs")
					input.hidden(type="text", name="userId",value=user)
					input.hidden(type="text", name="admincode",value=admincode)
			else
				form.pageForm.centrify(id="pages", method="post", action="/media")
			input.hidden(type="text", name="searchValue",value=searchValue)
			if(typeof pageNumber == 'undefined')
				pageNumber = 0;
			else if(pageNumber > count/12-1)
				pageNumber = pageNumber -1
			input.hidden(type="text", name='pageNumber',value=pageNumber)
			input.pageButton(type="button", name='firstPage',value="<< first page")
			input.pageButton(type="button", name='previousPage', value='< previous page')
			input.pageButton(type="submit", name='nextPage',value="next page >")
			input.pageButton(type="button", name='lastPage',value="last page >>")
block footerscripts
	script
		$(document).ready(function(){
			count = #{count}
			$('#pages').append('<input type="text" class="hidden" name=currentSortPage value=#{sortPageValue}>');
		});
		$('input:button[name=previousPage]').click(function(){
			pageNumber = $("input:text[name=pageNumber]").val();
			if(pageNumber >= 0) {		
				pageNumber -= 2;
				$("input:text[name=pageNumber]").val(pageNumber);
			}
			else{
				pageNumber = -1;				
			}
			$('#pages').submit();
		});
		$('input:button[name=firstPage]').click(function(){
			pageNumber = -1;
			$("input:text[name=pageNumber]").val(pageNumber);
			$('#pages').submit();
		});
		$('input:button[name=lastPage]').click(function(){
			pageNumber = Math.floor(count/12)-1;
			$("input:text[name=pageNumber]").val(pageNumber);
			$('#pages').submit();
		});