extends layout
block scripts
	link(rel='stylesheet', href='/public/css/mediaInt.css')
	link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700', rel='stylesheet', type='text/css')
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
	script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js')
	script(type='text/javascript', src='../public/js/libs/underscore-min.js')
	script(type='text/javascript', src='../public/js/libs/backbone-min.js')
block contents
	header.boxShadow
		#header.centrify
			img.left(src="/public/images/1pager/breakit.png")
			h1 BREAK
				span IT
	form.searchform.right(method="post", action="/media", name="mediaInterface")
		input.searchfield(type="text",value="search", name="searchValue", onfocus="if(this.value == 'search') { this.value = ''; }")
		input.searchbutton(type="submit", value="Go")
	#sort.centrify
		form.sortForm(method="post", action="/media", name="mediaInterface")
			input.buttonBg(type="submit",name="sortPage",value="byDate")
			input.buttonBg(type="submit",name="sortPage",value="commented")
			input.buttonBg(type="submit",name="sortPage",value="viewed")
			input.buttonBg(type="submit",name="sortPage",value="ranking")
			
	#wrapper
		br
		br
		.container.centrify
			ul.centrify
				for b in breaks
					li.smallRadius.fullBorderGroove
						score = b.upvotes.length - b.downvotes.length
						//p.smallRadius.fullBorderRidge #{b.headline}
						a(href="/p/" + b._id)
							img(src="/ios/picture/" + b._id, alt=b.headline)
						.icons
							//p.views= b.views
							//img.icon(src="public/images/1pager/comments.png",alt="comments")
							p.comments= "comments &bull; " + b.comments.length
							//img.icon(src="public/images/1pager/voteUp.png",alt="vote")
							p.votes= "score &bull; " + score
						hr
						p=b.headline
		form.page.centrify(id="pages", method="post", action="/media")

block footerscripts
	script
		$(document).ready(function(){
			count = #{count}
			for(i = 0; i < count/12; i++){
				j=i +1
				$('#pages').append('<input type="submit" name=pageNumber value='+j+'>'); 
			}
			$('#pages').append('<input type="text" class="hidden" name=currentSortPage value=#{sortPageValue}>');
		});