!!! 5
html
	head
		title = title
		link(rel='stylesheet', href='/public/css/onepager_vs2.css')
		link(href="/public/css/jScrollPane.css", rel="stylesheet", type="text/css")
		link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700', rel='stylesheet', type='text/css')
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
		script(type='text/javascript', src='http://www.datejs.com/build/date.js')
		script(type="text/javascript", src="/public/js/mousewheel.js")
		script(type="text/javascript", src="/public/js/jScrollPane.js")
		script(type="text/javascript", src="/public/js/jqueryCookies.js")
	body
		header.boxShadow
			#header.centrify
				img.left(src="/public/images/1pager/breakit.png")
				h1 BREAK
					span IT
		#wrapper.centrify.fullRadius.fullBorder.insetShadow
			#borderDiv.outsetShadow
				#topContainer
					h1.left #{b.headline}
					a.button.right(href="/media") Media
				#middleContainer
					#leftContainer.left
						img(src="/ios/picture/"+b._id, alt="break")
					#rightContainer.right
						iframe.fullBorderRidge.bottomMargin(width="380", height="280", frameborder="0", scrolling="no",src="https://maps.google.fi/maps?f=q&amp;ie=UTF8&amp;ll="+b.loc.lat+","+b.loc.lon+"&amp;t=m&amp;z=9&amp;output=embed")
						#commentField.fullBorderGroove.scroll-pane
						
							storydate = b.date
							storydate = storydate.toString().substring(0,storydate.toString().length-20)
							storydate = Date.parse(storydate)
							newDate = Date.now() - storydate
							hours = newDate/(1000*60*60)
							if hours > 24
									days = Math.round(hours/24)
									if days > 30
										months = Math.round(days/30)
										h4.right #{months}M ago
									else
										h4.right #{Math.round(days)}d ago
								else
									h4.right #{Math.round(hours)}h ago
							p #{b.usernick}: 
								span #{b.story}
							hr.centrify
							for comment in b.comments
								fdate = comment.date
								fdate = fdate.toString().substring(0,fdate.toString().length-20)
								fdate = Date.parse(fdate)
								newDate = Date.now() - fdate
								hours = newDate/(1000*60*60)
								if hours > 24
									days = Math.round(hours/24)
									if days > 30
										months = Math.round(days/30)
										h4.right #{months}M ago
									else
										h4.right #{Math.round(days)}d ago
								else
									h4.right #{Math.round(hours)}h ago
								p #{comment.usernick}: 
									span #{comment.comment}
								hr.centrify
										
				#bottomContainer
					#bottomLeft.left
						img.left(src="/public/images/1pager/profile.png")
						p.left #{b.usernick}: 
							span #{b.story}
						ul.right
							li.fbook
								a(href="http://www.facebook.com/breakitstories")
									img(src="/public/images/1pager/f_logo_gray.png")
								p &nbsp
							li.twitter
								a(href="https://twitter.com/Breakitapp")
									img(src="/public/images/1pager/twitter_gray.png")
								p &nbsp
							li.viewAmount
								img(src="/public/images/1pager/viewsIcon.fw.png")
								p #{b.views}
							li.comments_count
								img(src="/public/images/1pager/comments.png")
								p #{b.comments.length}
					#bottomRight.right
						form(name="post_comment", action="/onepager/comment", method="post")
							textarea.left.fullBorderRidge.smallRadius.insetShadow(name = "comment") Write comment here
							input.hideInput(name = "userId", value="509b933292083a3c07000002") 
							input.hideInput(name = "breakId", value=b._id)
							input.right(type="submit", value="send")
		#push
		#footer.boxShadow
	script
		$(document).ready(function(e) {
			$("li").mouseover(function() {
				if($(this).hasClass("fbook")){
					$(this).find("img")[0].src = '/public/images/1pager/f_logo_blue.png';
				}
				else if($(this).hasClass("twitter")){
					$(this).find("img")[0].src='/public/images/1pager/twitter_blue.png';
				}
				else if($(this).hasClass("comments_count")){
					$(this).find("p").css("color","#5B5B5B");
				}
				else if($(this).hasClass("viewAmount")){
					$(this).find("p").css("color","#5B5B5B");
				}
			});
			$("li").mouseout(function() {
				if($(this).hasClass("fbook")){
					$(this).find("img")[0].src='/public/images/1pager/f_logo_gray.png';
				}
				else if($(this).hasClass("twitter")){
					$(this).find("img")[0].src='/public/images/1pager/twitter_gray.png';
				}
				else if($(this).hasClass("comments_count")){
					$(this).find("p").css("color","white");
				}
				else if($(this).hasClass("viewAmount")){
					$(this).find("p").css("color","#A1A1A1");
				}
			});
			$("textarea").focus(function() {
				$(this).val('');
			});
			$(function(){
				$('.scroll-pane').jScrollPane();
			});
			$(function(){
				if($.cookie('breakit') === null) {
					$.cookie('breakit', '#{b.id}' , {expires:1});
				}
				else if($.cookie('breakit') != "#{b.id}"){
					$.cookie("breakit", null);
					$.cookie('breakit', '#{b.id}' , {expires:1});
				}
			});
		});
		