extend layout
block contents

	p View / modify user: #{user.id}
	
	form(name="input", action="/users/#{user.id}", method="post")
		label First name:
		input(type="text", name="fn", value=user.fName)
		br
		label Last name: 
		input(type="text", name="ln", value=user.lName)
		br
		label Nickname: 
		input(type="text", name="nn", value=user.nName)
		br
		label email: 
		input(type="text", name="em", value=user.email)
		br
		label Phone model: 
		select(name="ph")
			option(value="iPhone") iPhone
			option(value="Android") Android
		br
		input(type="submit", value="Submit")
		
	p
	
	form(name="input", action="/users/#{user.id}", method="delete")
		label Delete user
		br
		input(type="submit", value="DELETE")
		
		
